body {
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
}
.panel-container {
    max-width: 520px;
    display: block;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    background: #ebebeb;
}

.panel-header {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.panel-wrapper {
    min-height: 140px;
    border-radius: 10px;
    border: 1px solid black;
    max-width: 470px;
    display: block;
    margin: 20px auto;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    background: white;
}

.panel-wrapper .inner-panel-wrapper {
    margin: 0 auto;
    display: block;
    max-width: 380px;
}

.panel-wrapper .inner-panel-wrapper > * {
    display: inline-block;
    vertical-align: middle;
}

.progress-bar-wrapper {
    width: 210px;
}

.progress-target-label {
    padding: 10px;
    box-sizing: border-box;
    height: 54px;
    width: 75px;
    color: white;
    text-align: center;
    background-color: #929292;
}


.progress-target-label span {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.panel-wrapper .inner-panel-wrapper .needed-progress {
    display: block;
    text-align: center;
    margin: 40px auto 0;
}
