.progress-bar {
    display: block;
    -webkit-box-shadow: inset 4px 4px 13px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 4px 4px 13px -2px rgba(0,0,0,0.75);
    box-shadow: inset 4px 4px 13px -2px rgba(0,0,0,0.75);
    background-color: white;
    border: 1px solid transparent;
    height: 20px;
    border-radius: 5px; 
}

.inner-progress {
    height: 100%;
    background-color: green;
    display: inline-block;
    border-radius: 5px;
    transition: width 750ms ease-in-out;
    position: relative;
}

.inner-progress > .progress-label {
    position: absolute;
    right: -25px;
    top: 30px;
    text-align: center;
    width: 60px;
    height: 20px;
    display: block;
}

.inner-progress > .progress-label i.fa {
    display: block;
    margin-bottom: 5px;
}
